<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<!-- Toggle theme transition prevent on page load -->
<script>
document.documentElement.classList.add("theme-transition");

window.addEventListener("load", function () {
  setTimeout(() => {
    document.documentElement.classList.remove("theme-transition");
  }, 50);
});
</script>